/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.photo {
    text-align: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.quiz {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #555;
}

#textinho {
    font-size: 18px;
    text-align: center;
    color: #636262;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#resultado {
    font-family: Arial, sans-serif;
    color: rgb(48, 47, 47);
    font-weight: bold;
    margin-top: 20px;
}

.result {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.result h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.result p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.message {
    margin-top: 20px;
}

.message p {
    font-size: 18px;
    color: #333;
}

#errada {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

.errada {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

.hidden {
    display: none;
}

/* Adicione estilos adicionais de acordo com sua criatividade */
